@charset "utf-8";

.body_subtitles {
    margin-top: 15px;
    font-size: 3rem;
    font-family: 'Murecho';
}

/* ここから Header */
.level {
    padding: 0 50px;
    background-color: black;
}

.level-right {
    display: flex;
    align-items: center;
}

/* Searchbar setting ~ */
.input::placeholder {
    color: #bbbbbb;
}

input[type=text] {
    width: 250px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

input[type=text]:focus {
    border-bottom: 2px solid rgb(85, 85, 253);
    width: 500px;
}

input[type="text"],
textarea {
    background-color: #232323;
    border: none;
    color: white;
}

/* ~ Searchbar setting */

#top_logo {
    display: block;
    width: 220px;
}

.searchButton {
    width: 40px;
    height: 40px;
    background-color: #232323;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    left: -3px;
}

.nav-item {
    display: flex;
    justify-content: start;
    padding-left: 70px;
    padding-bottom: 30px;
}

.nav-item a {
    font-size: 17px;
    color: #bbbbbb;
    margin-right: 30px;
    border-top: 1px solid black;
}

.nav-item a:hover {
    color: white;
    /* border-top: 1px solid rgb(85, 85, 253); */
}

.fa-car {
    color: #bbbbbb;
}

.fa-magnifying-glass {
    color: #bbbbbb;
}

.fadeIn {
    animation-name: fadeInAnime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeInTrigger {
    opacity: 0;
}

/* ここまで Header */



/* ここから Main Visual */
.mainVisual_container {
    background-color: black;
}

.mainVisual {
    height: 700px;
    display: flex;
    background-image: url("https://www.mercedes-benz.co.jp/content/japan/ja/passengercars/_jcr_content/root/responsivegrid/simple_stage_1564354.component.damq5.3328377400260.jpg/20220926_The_all_new_EQS_EQE_MV_TOP.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
}

.mainVisual_p1 {
    color: white;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Bodoni Moda';
}

.mainVisual_p2 {
    color: white;
    font-size: 18px;
    font-family: 'Murecho';
}

.mainVisual_btns {
    display: flex;
}

.mainVisual_btn1 {
    margin-right: 10px;
}

/* ここまで Main Visual */




/* ここから Topics ~ */
.topic {
    background-color: white;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 5px;
}

.card {
    border-radius: 5px;
    background-color: #FFF;
}

.image-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    object-fit: cover;
}

.card-image {
    height: 250px;
    width: 100%;
    background: #FFF;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: left;
}

.description {
    padding: 10px 0px;
    font-size: 14px;
    color: #707070;
    text-align: left;
}

.button {
    height: 100%;
    border: none;
    font-size: 15px;
    color: #FFF;
    background-color: white;
    color: black;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 0.5px solid #828282;
}

.button:hover {
    background: #dfdede;
}

.swiper-navBtn {
    color: #dfdede;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: rgb(105, 105, 105);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #bbbbbb;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: gray;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 100px;
    }

    .swiper-navBtn {
        display: none;
    }
}

/* ここまで Topics */


/* ここから Footer */
footer {
    background-color: black;
}

.backToTop {
    padding-top: 10px;
    text-align: center;
}

.backToTop i {
    display: block;
    justify-content: center;
    padding: 20px;
}

.backToTop a {
    font-size: 1rem;
    color: white;
}

.upperFooter {
    padding-bottom: 30px;
    border-bottom: 1px solid #232323;
}

.lowerFooter {
    padding-top: 30px;
}

.footer_col1 {
    align-items: flex-start;
    margin-right: 25px;
}

.footer_col_sns {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.footer_col_sns a {
    margin-right: 25px;
    color: white;
}

.footerSubtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 60px 0 30px 0;
    justify-content: left;
}

.footerSubtitle a {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.footerItem {
    margin-bottom: 16px;
    cursor: pointer;

}

.footerItem a {
    padding-bottom: 2px;
    color: #bbbbbb;
    justify-content: left;
}

footer a:hover {
    color: white;
}

/* ここから FooterItem's Animation Hover */
.footerItem {
    display: inline-block;
    position: relative;
    color: white;
}

.footerItem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.footerItem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ここまで FooterItem's Animation Hover */
/* ここまで Footer */



/* LINEUP : FILTER*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }